@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
/* --------------------------------- */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,body{
	margin: 0;
	padding: 0;
}
:root{
    /* Paleta de colores Azul */
    --Blue1:#D4F1F4;
    --Blue2:#B1D4E0;
    --blue3:#189AB4;
    --Blue4:#2E8BC0;
    --Blue5:#145DA0;
    --Blue6:#05445E;
    --Blue7:#0C2D48;
    
    /* Paleta de colores Red */
    --Red1:#800000;
    --Red2:#AE0000;
    --Red3:#DC0000;
    --Red4:#FF0B0B;
    --Red5:#FF3939;
    --Red6:#FF6666;
    --Red7:#FF9494;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
 background-color:#dddddd;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 15px;
}

